<div class="<%= action_name %>" id="entry_form">
  <%= form_for(@book, remote: true) do |f| %>
    <table>
      <tr>
        <th><%= Book.human_attribute_name(:title) %></th>
        <td><%= f.text_field :title, size: 30 %></td>
        <th><%= Book.human_attribute_name(:author) %></th>
        <td><%= f.collection_select :author_id, Author.all,
          :id, :name, { prompt: true, length: 25 },
          { style: "width: 150px;" } %></td></tr>
      <tr>
        <th><%= Book.human_attribute_name(:released) %></th>
        <td><%= f.date_field :released_date %></td>
        <th><%= Book.human_attribute_name(:rating) %></th>
        <td><%= f.range_field :rating, in: 0..5, step: 1,
          id: "book#{@book.id}" %>
          <div class="rateit" data-rateit-backingfld="#book<%= @book.id %>"></div></td>
        <th><%= Book.human_attribute_name(:available) %></th>
        <td><%= f.check_box :available %></td></tr>
    </table>
    <%= f.button class: "button_#{action_name}" %>
    <% if action_name == "edit" %>
      <%= link_to t("button.back"), books_path, { method: :get, "data-remote" => :true, class: "button_#{action_name}" } %>
    <% else %>
      <%= button_tag t("button.clear"), type: :reset, class: "button_#{action_name}" %>
    <% end %>
  <% end %>
</div>