<!DOCTYPE html>
<html>
  <head>
    <title>Book Application</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <center><h1>Welcome</h1></center>
    <center><%= link_to "Login", books_path %>
    <%= link_to "Sign up", new_user_path %>
  </center>
  </body>
</html>